header {
	background-image: url(../img/header-bg.jpg);
	margin-bottom: 50px;
}
footer{
	background-image: url(../img/header-bg.jpg);
	height:60px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

header a {
	color: white;
	text-decoration: none;
}

.decolien {
	border: solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
	display: inline-block;
	padding-top: 20px;
	color: white;
	border-color: white;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: flex-end;
}
main {
	display: flex;
	flex-direction: column;
}
article{
	text-align: center;
	margin-top: 100px;
}
.button{
	background-color: white;
	border: solid;
	border-color: rgb(116, 159, 238);
	text-decoration:none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 1px;
}
.center {
	position: relative;
	top: 25px;
	left: 25px;
}
body{
	font-family: montserrat,sans-serif;
	margin: 0;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

aside{
	margin-right: 200px;
	margin-right: 200px;
}

.lienright {
	background-color: rgb(110, 134, 240);
	color: white;
}
