header {
	background-image: url(../img/header-bg.jpg);
}
footer{
	background-image: url(../img/header-bg.jpg);
}

nav {
	display: flex;
	justify-content: flex-end;
}
main {
	display: flex;
	flex-direction: column;
}
article{
	text-align: center;
}
button{
	background-color: white;
	border: solid;
	border-color: lightskyblue;
}